.container {
  max-width: 260px;
  max-height: 500px;
  margin: 0 auto;
  padding: 60px;
  padding-top:2px ;
  padding-bottom:45px;
  border: 7px solid springgreen;
  border-radius: 20px;
  background-color: beige;
}
.container img{
  margin-left: 195px;
  margin-bottom: -97px;
  margin-top: 2px;
  margin-bottom: -110px;
  height: 100px;
  width: 100px;
}
  
.container h1{
  color: saddlebrown;
  text-align:left;
  margin-top: 8px;
  margin-bottom: 50px;
  margin-left:-35px ;
  margin-right: 2px;
}
.container p{
  text-align: center;
  padding-top: 40px;
  color:saddlebrown;
}
  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
  }
  
  .buttons button {
    width: 45px;
    height: 45px;
    margin: 2px;
    font-size: 20px;
    background-color: paleturquoise;
    border: none;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #d5d5d5;
  }
  
  .buttons button:active {
    background-color:#c2c2c2;
  }

